* {
  box-sizing: border-box;
}

video {
  width: clamp(300px, 50%, 800px);
  background-color: black;
}

#button-group {
  display: flex;
  gap: 2rem;
  padding: 1rem 0rem;
}

#members {
  display: flex;
  flex-direction: column;
}

#info {
  border: 1px solid;
  padding: 1rem;
}

#info p {
  display: inline;
  margin-bottom: 1rem;
}

#info p:nth-of-type(1) {
  font-weight: 900;
}
